_build/
.gnupg
.secret/
.venv/
.vscode/
*.xcf
markdownlint-cli2-junit.xml
node_modules
package-lock.json
package.json
roles/reset/files/*.reset.md
roles/join/files/join.md
roles/init/files/admin.conf
roles/join/files/kcp02*
roles/join/files/kcp03*
reflog
