*.xcf
.ansible/
.gnupg
.secret/
.ansible/
.venv/
.vscode/
_build/
markdownlint-cli2-junit.xml
node_modules
package-lock.json
package.json
reflog
roles/init/files/admin.conf
roles/join/files/join.md
roles/join/files/kcp02*
roles/join/files/kcp03*
roles/reset/files/*.reset.md
