[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-creator = "*"
ansible-lint = "*"
ansible-navigator = "*"
cryptography = ">=43.0.1"
gitpython = "*"
loguru = "*"
pipenv = "*"
redis = "*"
sphinxcontrib-yaml = "*"

[dev-packages]
ansible-lint = "*"
molecule = "*"
pytest = "*"
pytest-cov = "*"
version-query = "*"

[docs]
myst-parser = {extras = ["linkify"], version = "*"}
six = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-favicon = "*"
sphinx-git = "*"
sphinx-last-updated-by-git = "*"
sphinx-notfound-page = "*"
sphinx-pyscript = "*"
sphinx-tippy = "*"
sphinx-togglebutton = "*"
sphinxcontrib-autoyaml = "*"
sphinxemoji = "*"
sphinxext-opengraph = "*"
sphinxext-rediraffe = "*"
